<div class="row">
  <div class="col-xs-12 col-md-6">
    <form class="form-horizontal" name="accountForm">
      <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-sm-offset-4">
          <h3 class="text-center">{{ctrl.account.$id ? 'Edit' : 'Create'}} Account</h3>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-12 col-sm-4 control-label"> Name </label>
        <div class="col-xs-12 col-sm-8">
          <input class="form-control" ng-model="ctrl.account.name" type="text" required="true">
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-12 col-sm-4 control-label"> Email </label>
        <div class="col-xs-12 col-sm-8">
          <input class="form-control" ng-model="ctrl.account.email" type="email" required="true">
          <p class="help-block">
            This email is used to load your
            <a href="https://en.gravatar.com/">Gravatar</a>.
          </p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-12 col-sm-4 control-label"> Available </label>
        <div class="col-xs-12 col-sm-8 btn-group">
          <button
            type="button"
            class="btn"
            ng-click="ctrl.account.available=true; accountForm.$setDirty()"
            ng-disabled="ctrl.account.available"
            ng-class="{'btn-success active': ctrl.account.available, 'btn-default': !ctrl.account.available}"
            > Yes </button>
          <button
            type="button"
            class="btn"
            ng-click="ctrl.account.available=false; accountForm.$setDirty()"
            ng-disabled="!ctrl.account.available"
            ng-class="{'btn-danger active': !ctrl.account.available, 'btn-default': ctrl.account.available}"
            > No </button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-sm-offset-4">
          <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="ctrl.cancel()">
              <span class="fa fa-fw fa-remove"></span>
              <span> Cancel </span>
            </button>
            <button type="submit" class="btn btn-success" ng-click="ctrl.save(ctrl.account)" ng-disabled="ctrl.saving || accountForm.$pristine || !accountForm.$valid">
              <span class="fa fa-fw fa-save" ng-if="!ctrl.saving"></span>
              <span class="fa fa-fw fa-spinner" ng-if="ctrl.saving"></span>
              <span> Save </span>
            </button>
          </div>
        </div>
      </div>
    </form>
    <form class="form-horizontal" name="balanceForm" ng-if="ctrl.account.$id">
      <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-sm-offset-4">
          <h3 class="text-center">Change Balance</h3>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-12 col-sm-4 control-label"> Current </label>
        <div class="col-xs-12 col-sm-8 form-control-static">
          {{ ctrl.account.balance | currency }}
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-12 col-sm-4 control-label"> Change </label>
        <div class="col-xs-12 col-sm-8">
          <div class="input-group">
            <input class="form-control" ng-model="ctrl.change.amount" type="number" required=true step=0.05 placeholder="Euros">
            <span class="input-group-addon">
              <span class="fa fa-fw fa-eur"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-12 col-sm-4 control-label"> By </label>
        <div class="col-xs-12 col-sm-8">
          <select class="form-control" ng-model="ctrl.change.by" ng-options="account.$id as account.name for account in ctrl.accounts" required="true"></select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-12 col-sm-4 control-label"> Note </label>
        <div class="col-xs-12 col-sm-8">
          <textarea class="form-control" ng-model="ctrl.change.note" required="true"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-sm-offset-4">
          <div class="pull-right">
            <button type="submit" class="btn btn-success" ng-click="ctrl.changeBalance(ctrl.balanceChanges, ctrl.change)" ng-disabled="ctrl.saving || balanceForm.$pristine || !balanceForm.$valid">
              <span class="fa fa-fw fa-save" ng-if="!ctrl.saving"></span>
              <span class="fa fa-fw fa-spinner" ng-if="ctrl.saving"></span>
              <span> Change </span>
            </button>
          </div>
        </div>
      </div>
    </form>
    <table class="table" st-table="ctrl.balanceChanges" ng-if="ctrl.account.$id">
      <thead>
        <th>Amount</th>
        <th>Note</th>
        <th>By</th>
        <th>Created</th>
      </thead>
      <tbody>
        <tr ng-repeat="change in ctrl.balanceChanges track by change.$id">
          <td class="text" ng-class="{'text-danger': change.amount < 0, 'text-success': change.amount > 0}">
            {{ change.amount | currency }}
          </td>
          <td>{{ change.note }}</td>
          <td>{{ ctrl.accounts.$getRecord(change.by).name }}</td>
          <td>{{ change.createdAt | date:'longDate' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
