.login{
  padding-top: 50px;
}

.vertical-center {
  vertical-align: (middle !important);
}

.selection {
  cursor: pointer;
}

.h6-minimal {
  margin-top: 0px;
  margin-bottom: 0px;
}

.table-unbordered {
  > thead > tr > th {
    border-bottom: none;
  }

  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    border-top: none;
  }
}
