.login{
  padding-top: 50px;
}

.vertical-center {
  vertical-align: (middle !important);
}

.selection {
  cursor: pointer;
}

.h6-minimal {
  margin-top: 0px;
  margin-bottom: 0px;
}
