<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-body">
        <a href="/products/new">
          <span class="fa fa-fw fa-plus"></span>
          <span> New Product </span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-body table-responsive">
        <table
          class="table table-hover table-unbordered"
          st-table="productCollection"
          st-safe-src="ctrl.products"
          >
          <thead>
            <tr>
              <th colspan=7>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <span class="fa fa-fw fa-search"></span>
                    </div>
                    <input
                      class="input-sm form-control"
                      type="search"
                      placeholder="Name"
                      st-search="'name'"
                      st-delay=100
                    />
                  </div>
                </div>
              </th>
            </tr>
            <tr>
              <th st-sort-default     st-sort="name"          st-skip-natural="true"> Name </th>
              <th class="text-center" st-sort="available"     st-skip-natural="true"> Available </th>
              <th class="text-center" st-sort="price"         st-skip-natural="true"> Price </th>
              <th class="text-center" st-sort="buyCount"      st-skip-natural="true"> Bought </th>
              <th class="text-center" st-sort="createdAt"     st-skip-natural="true"> Created At </th>
              <th class="text-center" st-sort="updatedAt"     st-skip-natural="true"> Updated At </th>
              <th class="text-center" st-sort="lastBoughtAt"  st-skip-natural="true"> Last Bought At </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in productCollection track by product.$id">
              <td class="vertical-center">
                <a class="btn-block btn-link" ng-href="/products/{{ product.$id }}">
                  {{ product.name }}
                </a>
              </td>
              <td class="text-center vertical-center">
                <span class="fa fa-fw fa-check text-success"  ng-if="product.available"></span>
                <span class="fa fa-fw fa-times text-danger"   ng-if="!product.available"></span>
              </td>
              <td class="text-center vertical-center">
                {{ product.price | currency }}
              </td>
              <td class="text-center vertical-center">
                {{ product.buyCount | number }}
              </td>
              <td class="text-center vertical-center">
                {{ product.createdAt | date:'longDate' }}
              </td>
              <td class="text-center vertical-center">
                {{ product.updatedAt | date:'longDate' }}
              </td>
              <td class="text-center vertical-center">
                {{ product.lastBoughtAt | date:'longDate' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
