<div class="container login">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <form class="form-horizontal" name="loginForm">
      <div class="form-group">
        <h2 class="col-xs-8 col-xs-offset-4">Change Password</h2>
      </div>
      <div class="form-group">
        <label class="col-xs-4 control-label" for="change-email">Email</label>
        <div class="col-xs-8">
          <input
            class="form-control"
            name="change-email"
            type="email"
            placeholder="Old email"
            required
            ng-model="email"
            >
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4 control-label" for="change-password">Old Password</label>
        <div class="col-xs-8">
          <input
            class="form-control"
            name="change-password"
            type="password"
            placeholder="Old password"
            required
            ng-model="oldPassword"
            >
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4 control-label" for="change-confirm">New Password</label>
        <div class="col-xs-8">
          <input
            class="form-control"
            name="change-confirm"
            type="password"
            placeholder="New password"
            required
            ng-model="newPassword"
            >
        </div>
      </div>
      <div class="form-group">
          <div class="pull-right">
            <button
              class="btn btn-primary"
              type="submit"
              ng-click="change(email, oldPassword, newPassword)"
              ng-disabled="loginForm.$pristine || loginForm.$invalid || sending"
            >
              <span>Change</span>
              <span class="fa fa-fw fa-spinner" ng-show="sending"></span>
              <span class="fa fa-fw fa-arrow-right" ng-hide="sending"></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
