<h3 class="text-center">Basket</h3>
<form class="form-horizontal" name="buyForm">
  <div class="form-group">
    <table class="table table-unbordered">
      <tbody>
        <tr ng-repeat="(productId, amount) in ctrl.basket.products">
          <td class="col-xs-5 text-center vertical-center">
            {{ ctrl.basket.getResolvedProduct(productId).name }}
          </td>
          <td class="col-xs-3 text-center vertical-center">
            <input
              type="number"
              class="form-control input-sm text-center"
              min=1
              step=1
              ng-model="ctrl.basket.products[productId]"
              >
          </td>
          <td class="col-xs-1 text-center vertical-center">
            <button
              class="btn-block btn-link"
              ng-click="ctrl.basket.removeProduct(productId)"
              >
              <span class="fa fa-fw fa-remove"></span>
            </button>
          </td>
          <td class="col-xs-3 text-center vertical-center">
            {{ ctrl.basket.getResolvedProduct(productId).price * amount | currency }}
          </td>
        </tr>
        <tr ng-hide="ctrl.basket.isEmpty()">
          <td colspan=3 class="text-right vertical-center">
            <strong>Total</strong>
          </td>
          <td class="text-center vertical-center">{{ ctrl.basket.total() | currency }}</td>
        </tr>
        <tr ng-show="ctrl.basket.isEmpty()">
          <td colspan=4 class="text-center vertical-center">No selected products</td>
        </tr>
        <tr>
          <td colspan=4>
          </td>
        </tr>
        <tr>
          <td class="col-xs-5 text-center vertical-center">
            <strong>Buyer</strong>
          </td>
          <td class="col-xs-4 text-center vertical-center" colspan=2>
            <select
              class="form-control"
              required=true
              ng-model="ctrl.basket.buyerId"
              ng-options="account.$id as account.name for account in ctrl.accounts | filter:{ available: true }"
              >
              <option value="">Select Buyer</option>
            </select>
          </td>
          <td class="col-xs-3"></td>
        </tr>
        <tr>
          <td colspan=4>
          </td>
        </tr>
        <tr ng-show="ctrl.basket.buyerId">
          <td class="text-right vertical-center" colspan=3>
            <strong>Balance now</strong>
          </td>
          <td class="text-center vertical-center">{{ ctrl.basket.getResolvedBuyer().balance | currency }}</td>
        </tr>
        <tr ng-show="ctrl.basket.buyerId && !ctrl.basket.isEmpty()">
          <td class="text-right vertical-center" colspan=3>
            <strong>Purchase</strong>
          </td>
          <td class="text-center vertical-center">{{ -ctrl.basket.total() | currency }}</td>
        </tr>
        <tr ng-show="ctrl.basket.buyerId && !ctrl.basket.isEmpty()">
          <td class="text-right vertical-center" colspan=3>
            <strong>Balance after</strong>
          </td>
          <td class="text-center vertical-center">{{ ctrl.basket.getNewBalance() | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group">
    <div class="col-xs-12 col-sm-8 col-sm-offset-4">
      <div class="pull-right">
        <button
          type="button"
          class="btn btn-danger"
          ng-click="ctrl.basket.reset()"
          ng-disabled="ctrl.saving || (ctrl.basket.buyerId === null && ctrl.basket.isEmpty())"
          >
          <span class="fa fa-fw fa-trash"></span>
          <span> Empty </span>
        </button>
        <button
          type="submit"
          class="btn btn-success"
          ng-click="ctrl.buy()"
          ng-disabled="ctrl.saving || !buyForm.$valid || ctrl.basket.buyerId === null || ctrl.basket.isEmpty()"
          >
          <span class="fa fa-fw fa-save" ng-if="!ctrl.saving"></span>
          <span class="fa fa-fw fa-spinner" ng-if="ctrl.saving"></span>
          <span> Buy </span>
        </button>
      </div>
    </div>
  </div>
</form>
