<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Products</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="buy in ctrl.buys | orderBy:'-createdAt' track by buy.$id">
      <td class="text-center vertical-center">
        <div class="row">
          <a ng-href="/accounts/{{buy.buyerId}}">
            {{ ctrl.buyers.$getRecord(buy.buyerId).name }}
          </a>
        </div>
        <div class="row">
          <span class="small text-muted">{{ ::buy.createdAt | date:'d.M.yyyy HH:mm' }}</span>
        </div>
      </td>
      <td class="text-center vertical-center">
        <div ng-repeat="(productId, amount) in buy.products">
          <span>{{ amount }}</span>
          <a ng-href="/products/{{productId}}">
            {{ ctrl.products.$getRecord(productId).name }}
          </a>
        </div>
      </td>
      <td class="text-center vertical-center">
        <button
          type="button"
          class="btn btn-danger"
          ng-click="ctrl.remove(buy)"
          ng-show="ctrl.canDelete(buy)"
          ng-disabled="ctrl.isRemoving(buy)"
          >
          <span class="fa fa-fw fa-trash"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
