<h3 class="text-center">Products</h3>
<table
  class="table table-hover table-unbordered"
  st-table="productCollection"
  st-safe-src="ctrl.products"
  >
  <thead>
    <tr>
      <th colspan=4>
        <div class="input-group">
          <div class="input-group-addon">
            <span class="fa fa-fw fa-search"></span>
          </div>
          <input
            class="input-sm form-control"
            type="search"
            placeholder="Filter by name"
            st-search="'name'"
            st-delay=100
            />
        </div>
      </th>
    </tr>
    <tr>
      <th class="text-center" st-sort="name"  st-skip-natural="true">Name</th>
      <th class="text-center" st-sort="price" st-skip-natural="true">Price</th>
      <th colspan=2></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in productCollection | filter:{ available: true } track by product.$id">
      <td class="col-xs-4 text-center vertical-center">
        <button
          class="btn-block btn-link"
          ng-click="ctrl.basket.products[product.$id] = 1"
          ng-disabled="ctrl.basket.products[product.$id]"
          >
          {{ product.name }}
        </button>
      </td>
      <td class="col-xs-2 text-center vertical-center">
        {{ product.price | currency }}
      </td>
      <td class="col-xs-4 col-sm-2 text-center vertical-center">
        <input
          type="number"
          class="form-control input-sm text-center"
          min=1
          step=1
          ng-show="ctrl.basket.products[product.$id] !== undefined"
          ng-model="ctrl.basket.products[product.$id]"
          >
      </td>
      <td class="col-xs-2 text-center vertical-center">
        <button
          class="btn-block btn-link"
          ng-show="ctrl.basket.products[product.$id] !== undefined"
          ng-click="ctrl.basket.removeProduct(product)"
          >
          <span class="fa fa-fw fa-remove"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
