<table class="table table-striped table-hover" st-table="buyerCollection" st-safe-src="ctrl.buyers">
  <thead>
    <tr>
      <th class="text-center" st-sort="name" st-skip-natural="true">Name</th>
      <th class="text-center" st-sort="balance" st-skip-natural="true">Balance</th>
      <th class="text-center" st-sort="buyCount" st-skip-natural="true">Bought</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="account in buyerCollection track by account.$id">
      <td class="vertical-center">
        <button class="btn-block btn-link" ng-click="ctrl.selectBuyer(account)">
          {{ account.name }}
        </button>
      </td>
      <td class="text-center vertical-center">
        {{ account.balance | currency }}
      </td>
      <td class="text-center vertical-center">
        {{ account.buyCount | number }}
      </td>
    </tr>
  </tbody>
</table>
